html, body {
  height: 100%;

  overflow: hidden;

}

.App {
  position: relative;
  height: 100vh; 
  background-image: url(../public/backgroung.jpg);
  background-size: cover;
  padding-top: 5%;
  overflow-y: auto; 
  
}